<link rel="stylesheet" href="/css/about.css">
<br>

<h4>Here's a bit about me:</h4><br>
<div class="row">
  <div class="col-xs-4">
    <img src="/images/AZ.png" alt="">
  </div>
  <div class="col-xs-8">
    <p>I am a full-stack web developer in Phoenix, AZ. I love building things and solving problems (and when the things I build solve problems... that's the my favorite). I earned my undergraduate degree from The University of Arizona. Tucson, AZ will always have a special place in my heart.</p>
  </div>
</div><br>
<div class="row">
  <div class="col-xs-6">
    <p>I learned my web development skills through General Assembly's "Web Development Immersive" program. Before my coding days, I spent 5 years in digital ad sales.</p>
  </div>
  <div class="col-xs-6">
    <img id="GA" src="/images/General_Assembly_logo.png" alt="">
  </div>
</div>
<div class="row">
  <div class="col-xs-5">
    <img src="/images/hi_there.png" alt="">
    <h3>Thanks for stopping by!</h3>
  </div>
  <div class="col-xs-7">
    <br>
    <br>
    <p>I consume podcasts and documentaries like water and I love to see live music whenever I can.</p>
  </div>
</div>
