<link rel="stylesheet" href="/css/projects.css">

<br>
<h2>Projects</h2>
<br>
<div class="row">
  <div class="col-xs-6">
    <h4 class="project">BlackJack</h4><br>
    <div class="imageBox">
      <a href="https://cardosi.github.io/" target="_blank">
        <img id='blackjack' src="/images/blackjack.png" alt="">
      </a>
    </div><br>
    <p>Built a BlackJack web app with HTML, CSS, and JavaScript. The concept and tools utilized are relatively basic, but the app incorporates lots of different JavaScript logic to provide its features. Some of those features include; a “Book” that will coach a player based on basic BlackJack strategy, different “Shoes” which allow the player to chose whether the dealer pulls from 8 decks, 6 decks, or a single deck, “Double Down” which allows a user to double their bet only when their hand has a value of 9, 10, or 11.</p>
  </div>
  <div class="col-xs-6">
    <h4 class="project">Congress Explorer</h4><br>
    <div class="imageBox">
      <a href="https://congress-explore.herokuapp.com/" target="_blank">
        <img id='congress' src="/images/congress.png" alt="">
      </a>
    </div><br>
    <p>Built a Single Page Web Application that allows a user to easily access and explore information about the United States Congress. The Front-end utilizes JavaScript, Angular.js, AJAX, HTML, CSS, Bootstrap, and Node.js. The information regarding members, bills, committees, and votes of the Senate and House is pulled from ProPublica’s Congress API. The backend utilizes Ruby on Rails and JSON Web Tokens for authentication.</p>
  </div>
</div><br>
<div class="row">
  <div class="col-xs-6">
    <h4 class="project">Endeavor</h4>
    <p>Built a MEAN stack application that allows a user to explore the Digital Public Library of America. The app has CRUD functionality via RESTful routing structure. It also incorporates user authentication with sessions.</p>
  </div>
  <div class="col-xs-6">
    <div class="imageBox">
      <a href="http://discoverendeavor.com/" target="_blank">
        <img id="endeavor" src="/images/endeavor.png" alt="">
      </a>
    </div>
  </div>
</div>
